# Ignore python bytecode files
*.pyc
*.egg-info

# Ignore emacs backup files
*~

# Ignore .ORIG files
*.ORIG

# Ignore python egg-info files
*.egg-info/

# Ignore toss subdirs
toss

# ignore dash related subdirs
DASH-JSON-records
dash-cgd-prod
dset-JSON-to-ISO19139
dset-web-accessible-folder-dev
