{

    "abstract": "[% DASHFields.abstract %]",

    "access_constraints": "Registration required to download datasets.",

    "additional_information": "[% DASHFields.cmip6_experiment %]",

    "alternate_identifier": [% DASHFields.alternate_identifier %],

    "asset_size_MB": "[% DASHFields.asset_size_MB %]",

    "asset_type": "dataset",

    "author": [{"name": "Community Earth System Model developers and affiliates", "position": "", "organization": "UCAR/NCAR - Climate and Global Dynamics Laboratory", "email": "cesm_data@ucar.edu"}],

    "citation": "The CESM project is supported primarily by the National Science Foundation (NSF). This material is based upon work supported by the National Center for Atmospheric Research, which is a major facility sponsored by the NSF under Cooperative Agreement No. 1852977. Computing and data storage resources, including the Cheyenne supercomputer (doi:10.5065/D6RX99HX), were provided by the Computational and Information Systems Laboratory (CISL) at NCAR.",

    "distributor": {"name": "", "position": "", "organization": "UCAR/NCAR - Climate and Global Dynamics Laboratory", "email": "cesm_data@ucar.edu"},

    "distribution_format": ["NETCDF"],

    "geolocation": {"north": "90.0", "south": "-90.0", "east": "180.0", "west": "-180.0"}, 

    "keywords": [ [% DASHFields.keywords %] ],

    "landing_page": "[% DASHFields.landing_page %]",

    "language": "eng; USA",

    "legal_constraints": "CESM Copyright and Terms of Use (http://www.cesm.ucar.edu/models/cesm2/copyright.html)",

    "metadata_contact": {"name": "", "position": "", "organization": "UCAR/NCAR - Climate and Global Dynamics Laboratory", "email": "cesm_data@ucar.edu"},

    "metadata_id": "edu.ucar.cesm::[% DASHFields.casename %]::[% DASHFields.publication_date %]",

    "progress": "completed",

    "publication_date": "[% DASHFields.publication_date %]",

    "publisher": {"name": "", "position": "", "organization": "UCAR/NCAR - Climate and Global Dynamics Laboratory"},

    "related_link": [% DASHFields.related_link %],

    "resource_format": [{"name": "NETCDF", "version": "4"}],

    "resource_support": {"name": "DiscussCESM Forums (http://bb.cgd.ucar.edu)", "position": "", "organization": "UCAR/NCAR - Climate and Global Dynamics Laboratory", "email": "cesm_data@ucar.edu"},

    "resource_type": "Dataset",

    "resource_version": "[% DASHFields.resource_version %]",

    "software_implementation_language": "Fortran; python; perl",

    "spatial_representation": ["grid"], 

    "spatial_resolution": [% DASHFields.spatial_resolution %], 

    "temporal_coverage": {"start": "[% DASHFields.run_startdate %]", "end": "[% DASHFields.run_lastdate %]"},

    "temporal_resolution": "[% DASHFields.temporal_resolution %]",

    "title": "[% DASHFields.title %]",

    "topic_category": ["climatologyMeteorologyAtmosphere"]

}
