<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
        <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
  <title>CESM2 Experiments Database</title>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
   <meta http-equiv="cache-control" content="max-age=0" />
   <meta http-equiv="cache-control" content="no-cache" />
   <meta http-equiv="expires" content="0" />
   <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
   <meta http-equiv="pragma" content="no-cache" />
   <meta name="description" content="CESM2 Experiments Database"/>
   <meta name="keywords"    content="CESM Software Engineering Working Group"/>

   <style type="text/css" media="screen">
     @import "/styles/cesm.css"; 
     @import "/styles/teststyles.css";
     @import "/svnuser/css/svnuser.css";
     @import "/jqueryui/development-bundle/demos/demos.css";
     @import "/jqueryui/css/redmond/jquery-ui-1.8.23.custom.css";
     @import "/jquerydt/DataTables-1.9.3/media/css/jquery.dataTables.css";
   </style>

   <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
   <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.1/css/responsive.dataTables.min.css" />

   <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
   <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
   <script type="text/javascript" src="/scripts/popitup.js"></script>
   <script type="text/javascript" src="/expdb2.0/scripts/exp_dashboard.js"></script>  
   <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
   <script src="https://cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js"></script>

   <style>
      #details { 
      background-color: #c5edcb; 
      }
      .alert:hover {
      cursor: pointer;
      }
      table {
      width: 90%;
      }
      .dtr-details {
      width: 90%;
      }
      table.dataTable tbody.tbody-status td {
      padding: 0px;
      font-size: .9em
      }
   </style>

</head>

<body>
  <p>
    [% INCLUDE header.tmpl %]
  </p>

  <div class="body">
    <h1>[% case.casename.value %] - Experiment Detail</h1>

    <h2>CESM Case Working Title:</h2>
    <table>
      <tr>
	<td valign="top"><button onclick="return popitup('/expdb2.0/cgi-bin/caseTitle.cgi?case_id=[% case.case_id.value %]&action=update&expType_id=[% case.expType_id.value %]','height=200,width=800,scrollbars=yes')"><span class="ui-icon ui-icon-pencil"></span></button></td>
	<td>[% case.title.value %]</td>
      </tr>
      <tr>
	<td colspan="2">
	  [% IF validstatus %]
	  <div id="msgbox" [% IF validstatus.status %] style="color:green" [% ELSE %] style="color:red" [% END %]>
	    [% validstatus.message %]
	  </div>
	</td>
      </tr>
    [% END %]
    </table>

    <br/>
    <a class="show-all-exp-details show-hide">show all</a>
    <br/>
    <br/>

    <div class="expDetail_accordion expDetail_applying">
      <div id="expDetail_accordion">

	[% IF expType.name == 'cmip6' %]
	<h3>[% case.expType_name.value %] Project Details</h3>
	<div id="expDetail_table">

	  <table class="noborder">
	    <tr>
	      <td valign="top">
		<table class="bordered">
		  <thead>
		    <th colspan="2">CMIP6 Fields</th>
		  </thead>
		  <thead>
		    <th>Field Name</th>		
		    <th>Value</th>		
		  </thead>
		  [% FOREACH key IN project.keys.sort  %]
		  <tr>
		    <td>[% key %]</td>
		    <td>[% project.$key %]</td>
		  </tr>
		  [% END %]
		</table>
	      </td>

	      <td valign="top">
		<table class="bordered">
		  <thead>
		    <th colspan="2">CMIP6 File Global Attributes</th>
		  </thead>
		  <thead>
		    <th>Field Name</th>		
		    <th>Value</th>		
		  </thead>
		  [% FOREACH key IN globalAtts.keys.sort  %]
		  <tr>
		    <td>[% key %]</td>
		    <td>[% globalAtts.$key %]</td>
		  </tr>
		  [% END %]
		</table>
	      </td>
	    </tr>
	  </table>
	</div>
	[% END %]

	<h3>Case Workflow Process Status</h3>
	<div id="expDetail_table">
          <div style="text-align: center;" id="statusTable_buttons">
            <button id="statusBtn-show-all-children" class="btn btn-primary" type="button">Expand All</button>
            <button id="statusBtn-hide-all-children" class="btn btn-primary" type="button">Collapse All</button>
          </div>

	  <table id="statusTable" style="width: 100%">
	    <thead>
	      <tr>
		<th>Description</th>		
		<th>Process Name</th>		
		<th>Status</th>		
		<th>Model Date</th>		
		<th>Disk Path</th>		
		<th>Disk Usage</th>		
		<th>Last Update</th>		
		<th>Archive Method</th>
		<th class="none">Status History</th>
	      </tr>
	    </thead>
	    <tbody>
	      [% FOREACH key IN status.keys.sort %]
	      <tr>
		<td>[% status.$key.description %]</td>
		<td>[% key %]</td>
		<td style="background-color:[% status.$key.color %]">[% status.$key.code %]</td>
		<td><pre>[% status.$key.model_date %]</pre></td>
		<td>[% status.$key.disk_path %]</td>
		<td>[% status.$key.disk_usage %]</td>
		<td>[% status.$key.last_update %]</td>
		<td>[% status.$key.archive_method %]</td>
		<td>
		  <table>
		    <thead>
		      <tr id="details">
			<th>Status</th>		
			<th>Model Date</th>		
			<th>Disk Path</th>		
			<th>Disk Usage</th>		
			<th>Last Update</th>		
			<th>Archive Method</th>
		      </tr>
		    </thead>
		    <tbody class="tbody-status">
		      [% FOREACH stat IN status.$key.history %]
		      <tr class="tr-status">
			<td style="background-color:[% stat.color %]">[% stat.code %]</td>
			<td><pre>[% stat.model_date %]</pre></td>
			<td>[% stat.disk_path %]</td>
			<td>[% stat.disk_usage %]</td>
			<td>[% stat.last_update %]</td>
			<td>[% stat.archive_method %]</td>
		      </tr>
		      [% END %]
		    </tbody>
		  </table>
		</td>
	      </tr>
	      [% END %]
	    </tbody>
	    <tfoot>
	      <tr>
		<th>Description</th>		
		<th>Process Name</th>		
		<th>Status</th>		
		<th>Model Date</th>		
		<th>Disk Path</th>		
		<th>Disk Usage</th>		
		<th>Last Update</th>		
		<th>Archive Method</th>
		<th class="none">Status History</th>
	      </tr>
	    </tfoot>
	  </table>
	</div>

	<h3>Caseroot Settings</h3>
	<div id="expDetail_table">
          <div style="text-align: center;" id="caseTable_buttons">
            <button id="caseBtn-show-all-children" class="btn btn-primary" type="button">Expand All</button>
            <button id="caseBtn-hide-all-children" class="btn btn-primary" type="button">Collapse All</button>
          </div>

	  <table id="caseTable" style="width: 100%">
	    <thead>
	      <tr>
		<th>Case Field Name</th>		
		<th>Field Value</th>		
		<th class="none">Change History</th>		
	      </tr>
	    </thead>
	    <tbody>
	      [% FOREACH key IN case.keys.sort %]
	      <tr>
		<td>[% key %]</td>
		[% IF key == "svn_repo_url"%]
		<td><a href="[% case.$key.value %]" target="_blank">[% case.$key.value %]</a></td>
		[% ELSE %]
		<td>[% case.$key.value %]</td>
		[% END %]
		<td>
		  <table>
		    <thead>
		      <tr id="details">
			<th>Field Value</th>
			<th>Last Update</th>
		      </tr>
		    </thead>
		    <tbody>
		      [% FOREACH change IN case.$key.history %]
		      <tr>
			<td>[% change.field_value %]</td>
			<td>[% change.last_update %]</td>
		      </tr>
		      [% END %]
		    </tbody>
		  </table>
		</td>
	      </tr>
	      [% END %]
	    </tbody>
	    <tfoot>
	      <tr>
		<th>Case Field Name</th>		
		<th>Field Value</th>		
		<th class="none">Change History</th>		
	      </tr>
	    </tfoot>
	  </table>
	</div>

	<h3>Case Notes</h3>
	<div id="expDetail_table">
	  <table class="bordered">
	    <tr>
	      <td valign="top"> <button onclick="return popitup('/expdb2.0/cgi-bin/caseNotes.cgi?case_id=[% case.case_id.value %]&expType_id=[% case.expType_id.value %]','height=200,width=800,scrollbars=yes')"><span class="ui-icon ui-icon-plus"></span></button> Case Notes:</td>
	      <td>
		<table>
		  <thead>
		    <th></th>		
		    <th>Note</th>		
		    <th>User</th>		
		    <th>Last Update</th>		
		  </thead>
		  [% FOREACH n IN notes %]
		  <tr>
		    <td valign="top"><button onclick="return popitup('/expdb2.0/cgi-bin/caseNotes.cgi?case_id=[% case.case_id.value %]&note_id=[% n.note_id %]&action=update&expType_id=[% case.expType_id.value %]','height=200,width=800,scrollbars=yes')"><span class="ui-icon ui-icon-pencil"></span></button></td>
		    <td><pre>[% n.note %]</pre></td>
		    <td valign="top">[% n.firstname %] [% n.lastname %] ([% n.email %]) </td>
		    <td valign="top">[% n.last_update %]</td>
		  </tr>
		  [% END %]
		</table>
	      </td>
	    </tr>
	  </table>
	</div>

	<h3>Case Diagnostics and Climate Data Gateway Links</h3>
	<div id="expDetail_table">
	  <table class="bordered">
	    <tr>
	      <td valign="top"><button onclick="return popitup('/expdb2.0/cgi-bin/caseLinks.cgi?case_id=[% case.case_id.value %]&expType_id=[% case.expType_id.value %]','height=300,width=800,scrollbars=yes')"><span class="ui-icon ui-icon-plus"></span></button> Case Links:</td>
	      <td>
		<table>
		  [% FOREACH lk IN links %]
		  <thead>
		    <th></th>
		    <th>Process</th>		
		    <th>Link Type</th>		
		    <th>Link</th>		
		    <th>Last Update</th>		
		  </thead>
		  <tr>
		    <td><button onclick="return popitup('/expdb2.0/cgi-bin/caseLinks.cgi?case_id=[% case.case_id.value %]&link_id=[% lk.link_id %]&action=update&expType_id=[% case.expType_id.value %]','height=300,width=800,scrollbars=yes')"><span class="ui-icon ui-icon-pencil"></span></button></td>
		    <td>[% lk.process_name %]</td>
		    <td>[% lk.linkType_name %]</td>
		    [% http = lk.link %]
		    [% IF lk.linkType_id == 1 %]
		    <td><a href="[% lk.link %]" target="_blank">[% lk.link %]</a></td>
		    [% ELSE %]
		    <td>[% lk.link %]</td>
		    [% END %]
		    <td>[% lk.last_update %]</td>
		  </tr>
		  <tr>
		    <td colspan="5"><b>Description</b></td>
		  </tr>
		  <tr>
		    <td colspan="5">[% lk.description %]</td>
		  </tr>
		  [% END %]
		</table>
	      </td>
	    </tr>
	  </table>
	</div>

	<h3>Publication Options</h3>
	<div>
	  <p style="font-size: .8em">* You must be the scientific lead or archiver for this experiment or a expdb2.0 admin in order to publish. After successful publication, it is up to the user to delete any intermediate files associated with this experiment on disk. Clicking on any of the options below
will bring up a separate window with options for publication or a current status of a publication request. <br/>
PUBLICATION OPTIONS ARE COMING SOON!</p>

	  <p style="font-size: .9em">
	    <button onclick="return popitup('/expdb2.0/cgi-bin/publishESGF.cgi?case_id=[% case.case_id.value %]&expType_id=[% case.expType_id.value %]','height=300,width=800,scrollbars=yes')"><b>Publish Request to ESGF</b></button> &nbsp;&nbsp; 
	    <button onclick="return popitup('/expdb2.0/cgi-bin/updateESGF.cgi?case_id=[% case.case_id.value %]&expType_id=[% case.expType_id.value %]','height=300,width=800,scrollbars=yes')"><b>Update Status of ESGF</b></button><br/> - Publish the Conformed compressed timeseries netCDF files to the ESGF and the CDG.</p>

	  <p style="font-size: .9em"><button onclick="return popitup('/expdb2.0/cgi-bin/publishCDG.cgi?case_id=[% case.case_id.value %]','height=300,width=800,scrollbars=yes')"><b>CDG</b></button><br/> -  Publish to NCAR Climate Data Gateway (formally ESG). This publishes the single-variable CESM compressed timeseries netCDF files.</p>

	  <p style="font-size: .9em"><button onclick="return popitup('/expdb2.0/cgi-bin/publishDASH.cgi?case_id=[% case.case_id.value %]&expType_id=[% case.expType_id.value %]','height=300,width=800,scrollbars=yes')"><b>DASH</b></button><br/> -  Publish experiment metadata to the NCAR <a href="https://data.ucar.edu/">Digital Assets Services Hub</a></p>

	  <p style="font-size: .9em"><button onclick="return popitup('/expdb2.0/cgi-bin/publishScience.cgi?case_id=[% case.case_id.value %]&expType_id=[% case.expType_id.value %]','height=300,width=800,scrollbars=yes')"><b>CESM2 Science</b></button><br/> -  Publish experiment metadata and public links to diagnostics pages to the <a href="http://www.cesm.ucar.edu/models/cesm2/scientifically-validated-cesm2.html">CESM2 Scientifically Validated web page.</a></p>

	  <p style="font-size: .9em"><button onclick="return popitup('/expdb2.0/cgi-bin/publishTiming.cgi?case_id=[% case.case_id.value %]&expType_id=[% case.expType_id.value %]','height=300,width=800,scrollbars=yes')"><b>CESM2 Timing</b></button><br/> -  Publish experiment detailed timing information to the <a href="https://csegweb.cgd.ucar.edu/timing/cgi-bin/timings.cgi">CESM2 Timing, Performance, and Load Balancing Data</a></p>
	</div>


      </div>
    </div>
  </div>
</body>
</html>

