<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">	
    <title>CESM2 Experiment Database</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta name="description" content="CESM2 Experiment Database"/>
    <meta name="keywords"    content="CESM Software Engineering Working Group"/>

    <style type="text/css" media="screen">
      /*@import "/styles/cesm.css";
      @import "/styles/teststyles.css";
      @import "/svnuser/css/svnuser.css";
      @import "/jqueryui/development-bundle/demos/demos.css";
      @import "/jqueryui/css/redmond/jquery-ui-1.8.23.custom.css";
      @import "/jquerydt/DataTables-1.9.3/media/css/jquery.dataTables.css";*/
    </style>

    <style>
      #details { 
      background-color: #c5edcb; 
      }
      .alert:hover {
      cursor: pointer;
      }
      table {
      width: 100%;
      }
      .dtr-details {
      width: 100%;
      }
      table.dataTable tbody.tbody-timing td {
      padding: 0px;
      }
      #wrapper {
      display: block;
      }
    </style>

    [% INCLUDE 'modern/css/css-include.html' %]
    <style>
      [% INCLUDE 'modern/css/datatables.min.css' %]
      [% INCLUDE 'modern/skins/default.css' %]

      #inner-headline nav ul.dropdown-menu li a {
      color:#000;
      }

      .tab-content {
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      }

      .tab-pane {
      
      }

      .nav-sub {
      padding: 10px;
      background-color: #3E6A9C;
      }

      .nav-sub > li > a {
      border-radius: 4px;
      color: #fff;
      }

      .nav-sub > li > a:hover {
      background-color:#fff;
      color: #000;
      }

      .tab-pane {
      /*min-height: 330px;*/
      }


      .panel-group .panel {
      border-radius: 0px;
      border-left: 0px;
      border-right: 0px;
      }

      .panel-group .panel + .panel {
      margin-top: 0px;
      }

    </style>
  </head>

  <body style="">
    <div id="wrapper">
      <header>
	<div class="navbar navbar-default navbar-static-top">
	  <div class="container">
	    [% INCLUDE 'modern/includes/header/navbar-header.html' %]
	    [% INCLUDE 'modern/includes/header/search.html' %]
	    [% INCLUDE 'modern/includes/header/nsf-header.html' %]
	    [% INCLUDE 'modern/includes/navigation/models-nav.html' %]
	  </div>
	</div>
      </header>

      <section id="inner-headline">
	<div class="container">
	  <div class="row">
	    <div class="col-lg-12">
	      <ul class="breadcrumb">
		<li><a href="http://www.cesm.ucar.edu/index.html"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
		<li><a href="http://www.cesm.ucar.edu/models/">CESM Models</a><i class="icon-angle-right"></i></li>
		<li><a href="/">CSEG Web Apps</a><i class="icon-angle-right"></i></li>
		<li class="active">Experiment Database</li>
	      </ul>

	      [% INCLUDE nav.tmpl %]
	    </div>
	  </div>
	</div>
      </section>

      <!-- content start  -->
      <section id="content">
	<div class="container">
	  <div class="row visible-sm-block text-center hidden-md hidden-lg"><h3>Not designed for mobile viewing, please open on a desktop</h3></div>

	  <div class="row hidden-sm hidden-xs">
	    <div class="col-lg-12">
	      <div class="post-image">
		<div class="post-heading">
                  <h1>CESM2 Experiment Database</h1>
		</div>
              </div>

	      <p class="lead">CESM2 experiments metadata including process status, diagnostics links, and publication links.</p>

	      [% IF validstatus.status == 0 %]
	      <div class="alert alert-danger text-center" role="alert">
		<span class=""><strong>Reserve a Casename Errors:</strong>&nbsp;[% validstatus.message %]</span>
	      </div>
	      [% END %]

	      <div id="dashtabs-og-name">
		<ul id="dashTabs" class="nav nav-tabs small" role="tablist">
		  <li role="presentation" class="active"><a data-toggle="tab" role="tab" href="#cmip6exp" id="cmip6exp-tab">CESM2 / CMIP6 Experiments</a></li>
		  <li role="presentation"><a data-toggle="tab" role="tab" href="#cesm2tune" id="cesm2tune-tab">CESM2.0 Release Experiments</a></li>
		  <li role="presentation"><a data-toggle="tab" role="tab" href="#cesm2exp" id="cesm2exp-tab">CESM2 Production Experiments</a></li>
		  <li role="presentation"><a data-toggle="tab" role="tab" href="#cesm2lens" id="cesm2lens-tab">CESM2 LENS Experiments</a></li>
		  <li role="presentation"><a data-toggle="tab" role="tab" href="#C1" id="cesm2C1-tab">C1. Transient Holocene</a></li>
		  <li role="presentation"><a data-toggle="tab" role="tab" href="#C2" id="cesm2C2-tab">C2. High-resolution Ocean</a></li>
		  <li role="presentation"><a data-toggle="tab" role="tab" href="#C3" id="cesm2C3-tab">C3. S2S Hindcasts</a></li>
		  <li role="presentation"><a data-toggle="tab" role="tab" href="#C4" id="cesm2C4-tab">C4. RCP8.5 Projections</a></li>
		  <li role="presentation"><a data-toggle="tab" role="tab" href="#C5" id="cesm2C5-tab">C5. Arctic Prediction System</a></li>
		</ul>

		<div class="tab-content" id="dashTabContent">

		  <!-- tab box for cmip6exp start -->
		  <div class="tab-pane fade in active" role="tabpanel" id="cmip6exp" aria-labelledby="cmip6exp-tab"> 

		    <ul class="nav nav-tabs small nav-sub" role="tablist">
		      <li role="presentation" class="active"><a style="padding: 5px;" data-toggle="tab" role="tab" id="DECK-tab" href="#DECK">DECK Experiments</a></li>
		      <li role="presentation"><a style="padding: 5px;" data-toggle="tab" role="tab" id="MIP-tab" href="#MIP">MIP Experiments</a></li>
		      <li role="presentation"><a style="padding: 5px;" data-toggle="tab" role="tab" id="DCPP-tab" href="#DCPP">Decadal Prediction Experiments</a></li>
		      <li role="presentation"><a style="padding: 5px;" data-toggle="tab" role="tab" id="NAMED-tab" href="#NAMED">Experiments by Name</a></li>
		      <li role="presentation"><a style="padding: 5px;" data-toggle="tab" role="tab" id="RESERVE_CMIP6-tab" href="#RESERVE_CMIP6">Reserve a CMIP6 Case Name</a></li>
		      <li role="presentation"><a style="padding: 5px;" data-toggle="tab" role="tab" id="STATUS-tab" href="#STATUS">Overall Experiment Status</a></li>
		      <li role="presentation"><a style="padding: 5px;" data-toggle="tab" role="tab" id="DIAGS-tab" href="#DIAGS">Overall Experiment Diagnostics</a></li>
		    </ul>

		    <div class="tab-content" id="dashTabContent2">
		      <div class="tab-pane fade in active" role="tabpanel" id="DECK" aria-labelledby="DECK-tab">
			<div class="row" style="margin-bottom: 10px;">
			  <div class="col-lg-12 text-center" style="padding-top: 10px;">
			    <button type="button" class="btn btn-default btn-sm btn-show-DECK">
			      <i class="fa fa-folder-open"></i> Show / Hide All
			    </button>
			    <small><em>&nbsp;&nbsp;&nbsp;or select an option below</em></small>
			  </div>
			</div>

			<div class="panel-group" id="accordion-DECK" role="tablist" aria-multiselectable="true">
			  [% FOREACH DECKexp IN CMIP6DECKs %]
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="[% DECKexp.name %]Header">
			      <h4 class="panel-title">
				<a class="collapsed accordion-toggle" role="button" data-toggle="collapse" data-parent="#accordion-DECK" href="#[% DECKexp.name %]Collapse" aria-expanded="false" aria-controls="[% DECKexp.name %]Collapse">
				  [% DECKexp.name %] - [% DECKexp.description %]
				</a>
			      </h4>
			    </div>

			    <div id="[% DECKexp.name %]Collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="[% DECKexp.cmip6_exp %]Header">
			      <div class="panel-body">
				<table class="table table-striped table-condensed" id="[% DECKexp.cmip6_exp %]Table">
				  <thead>
				    <th>ID</th>
				    <th>Case Name</th>
				    <th>CESM Experiment Name</th>
				    <th>Designing MIP</th>
				    <th>Request Date</th>
				    <th>Archive Date</th>
				  </thead>
				  <tbody>
				    [% FOREACH exp IN DECKexp.exps %]
				    <tr>
				      <td>[% exp.case_id %]</td>
				      <td><a href="/expdb2.0/cgi-bin/expList.cgi?action=showCaseDetail&case_id=[% exp.case_id %]" target="_blank">[% exp.casename %]</a></td>
				      <td><a href="http://clipc-services.ceda.ac.uk/dreq/u/[% exp.cmip6_exp_uid %].html" target="_blank">[% exp.expName %]</a></td>
				      <td>[% exp.designMIP %]</td>
				      <td>[% exp.request_date %]</td>
				      <td>[% exp.archive_date %]</td>
				    </tr>
				    [% END %]
				  </tbody>
				</table>
			      </div>
			    </div>
			  </div>
			  [% END %]
			</div>
		      </div>

		      <div class="tab-pane fade" role="tabpanel" id="MIP" aria-labelledby="MIP-tab">
			<div class="row" style="margin-bottom: 10px;">
			  <div class="col-lg-12 text-center" style="padding-top: 10px;">
			    <button type="button" class="btn btn-default btn-sm btn-show-MIP">
			      <i class="fa fa-folder-open"></i> Show / Hide All
			    </button>
			    <small><em>&nbsp;&nbsp;&nbsp;or select an option below</em></small>
			  </div>
			</div>

			<div class="panel-group" id="accordion-MIP" role="tablist" aria-multiselectable="true">
			  [% FOREACH MIPexp IN CMIP6MIPs %]
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="[% MIPexp.name %]Header">
			      <h4 class="panel-title">
				<a class="collapsed accordion-toggle" role="button" data-toggle="collapse" data-parent="#accordion-MIP" href="#[% MIPexp.name %]Collapse" aria-expanded="false" aria-controls="[% MIPexp.name %]Collapse">
				  [% MIPexp.name %] - [% MIPexp.description %]
				</a>
			      </h4>
			    </div>

			    <div id="[% MIPexp.name %]Collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="[% MIPexp.cmip6_exp %]Header">
			      <div class="panel-body">
				<table class="table table-striped table-condensed" id="[% MIPexp.name %]Table">
				  <thead>
				    <th>ID</th>
				    <th>Case Name</th>
				    <th>Experiment Name</th>
				    <th>Designing MIP</th>
				    <th>Request Date</th>
				    <th>Archive Date</th>
				  </thead>
				  <tbody>
				    [% FOREACH exp IN MIPexp.exps.sort('expName') %]
				    <tr>
				      <td>[% exp.case_id %]</td>				      
				      <td><a href="/expdb2.0/cgi-bin/expList.cgi?action=showCaseDetail&case_id=[% exp.case_id %]" target="_blank">[% exp.casename %]</a></td>
				      <td><a href="http://clipc-services.ceda.ac.uk/dreq/u/[% exp.cmip6_exp_uid %].html" target="_blank">[% exp.expName %]</a></td>
				      <td>[% exp.designMIP %]</td>
				      <td>[% exp.request_date %]</td>
				      <td>[% exp.archive_date %]</td>
				    </tr>
				    [% END %]
				  </tbody>
				</table>
			      </div>
			    </div>
			  </div>
			  [% END %]
			</div>
		      </div>


		      <div class="tab-pane fade" role="tabpanel" id="DCPP" aria-labelledby="DCPP-tab">
			<div class="row" style="margin-bottom: 10px;">
			  <div class="col-lg-12 text-center" style="padding-top: 10px;">
			    <button type="button" class="btn btn-default btn-sm btn-show-DCPP">
			      <i class="fa fa-folder-open"></i> Show / Hide All
			    </button>
			    <small><em>&nbsp;&nbsp;&nbsp;or select an option below</em></small>
			  </div>
			</div>

			

			<div class="panel-group" id="accordion-DCPP" role="tablist" aria-multiselectable="true">
			  [% FOREACH DCPPexp IN CMIP6DCPPs %]
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="[% DCPPexp.name %]Header">
			      <h4 class="panel-title">
				<a class="collapsed accordion-toggle" role="button" data-toggle="collapse" data-parent="#accordion-DCPP" href="#[% DCPPexp.name %]Collapse" aria-expanded="false" aria-controls="[% DCPPexp.name %]Collapse">
				  [% DCPPexp.name %]
				</a>
			      </h4>
			    </div>

			    <div id="[% DCPPexp.name %]Collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="[% DCPPexp.name %]Header">
			      <div class="panel-body">
				<div class="well well-sm">
				  <span class="label label-warning">More Info:</span>
				  <small>[% DCPPexp.description %]</small>
				  <br>
				  <a class="" href="http://clipc-services.ceda.ac.uk/dreq/u/[% DCPPexp.uid %].html" target="_blank"><span class="label label-info">Link</span> http://clipc-services.ceda.ac.uk/dreq/u/[% DCPPexp.uid %].html</a>
				</div>

				<table class="table table-striped table-condensed" id="[% DCPPexp.name %]Table">
				  <thead>
				    <th>ID</th>
				    <th>Case Name</th>
				    <th>Experiment Name</th>
				    <th>Designing MIP</th>
				    <th>Request Date</th>
				    <th>Archive Date</th>
				  </thead>

				  <tbody>
				    [% FOREACH exp IN DCPPexp.exps %]
				    <tr>
				      <td>[% exp.case_id %]</td>
				      <td><a href="/expdb2.0/cgi-bin/expList.cgi?action=showCaseDetail&case_id=[% exp.case_id %]" target="_blank">[% exp.casename %]</a></td>
				      <td><a href="http://clipc-services.ceda.ac.uk/dreq/u/[% DCPPexp.uid %].html" target="_blank">[% exp.expName %]</a></td>
				      <td>[% exp.designMIP %]</td>
				      <td>[% exp.request_date %]</td>
				      <td>[% exp.archive_date %]</td>
				    </tr>
				    [% END %]
				  </tbody>
				</table>
			      </div>
			    </div>
			  </div>
			  [% END %]
			</div>
		      </div>

		      <div class="tab-pane fade" role="tabpanel" id="NAMED" aria-labelledby="NAMED-tab">
			<br/>
			<table id="cmip6ExpTable" class="table table-striped table-condensed" style="width: 100%;">
			  <thead>
			    <tr>
			      <th>ID</th>
			      <th>Case Name</th>
			      <th>Experiment Name</th>
			      <th>Designing MIP</th>
			      <th>Request Date</th>
			      <th>Archive Date</th>
			    </tr>
			  </thead>

			  <tbody>
			    [% FOREACH exp IN CMIP6Exps %]
			    <tr>
			      <td>[% exp.case_id %]</td>
			      <td><a href="/expdb2.0/cgi-bin/expList.cgi?action=showCaseDetail&case_id=[% exp.case_id %]" target="_blank">[% exp.casename %]</a></td>
			      <td><a href="http://clipc-services.ceda.ac.uk/dreq/u/[% exp.cmip6_exp_uid %].html" target="_blank">[% exp.expName %]</a></td>
			      <td>[% exp.designMIP %]</td>
			      <td>[% exp.request_date %]</td>
			      <td>[% exp.archive_date %]</td>
			    </tr>
			    [% END %]
			  </tbody>

			  <tfoot>
			    <tr>
			      <td>ID</td>
			      <th>Case Name</th>
			      <th>Experiment Name</th>
			      <th>Designing MIP</th>
			      <th>Request Date</th>
			      <th>Archive Date</th>
			    </tr>
			  </tfoot>
			</table>
		      </div>


		      <div class="tab-pane fade" role="tabpanel" id="RESERVE_CMIP6" aria-labelledby="RESERVE_CMIP6-tab">
			[% INCLUDE reserveCaseCMIP6.tmpl %]
		      </div>

		      <!-- overall experiment status start -->
		      <div class="tab-pane fade" role="tabpanel" id="STATUS" aria-labelledby="STATUS-tab">
			<div class="row" style="margin-bottom: 10px;">
			  <div class="col-lg-12 text-center" style="padding-top: 10px;">
			    <button type="button" class="btn btn-default btn-sm" id="statusBtn-show-all-children">
			      <i class="fa fa-folder-open"></i> Show All
			    </button>

			    <button type="button" class="btn btn-default btn-sm" id="statusBtn-hide-all-children">
			      <i class="fa fa-folder-open"></i> Hide All
			    </button>
			  </div>
			</div>


			<table id="statusTable" class="table table-striped table-condensed" style="width: 100%;">
			  <thead>
			    <tr>
			      <th></th>
			      <th>ID</th>
			      <th>Casename</th>
			      <th>Experiment Name</th>
			      <th>Overall Status Summary</th>
			      <th class="none">Details</th>
			    </tr>
			  </thead>

			  <tbody>
			    [% FOREACH exp IN CMIP6Status %]
			    <tr>
			      <td></td>
			      <td>[% exp.case_id %]</td>
			      <td>
				<a href="/expdb2.0/cgi-bin/expList.cgi?action=showCaseDetail&case_id=[% exp.case_id %]" target="_blank">[% exp.casename %]</a>
			      </td>
			      <td>
				<a href="http://clipc-services.ceda.ac.uk/dreq/u/[% exp.cmip6_exp_uid %].html" target="_blank">[% exp.expName %]</a>
			      </td>
			      <td>
				<table>
				  <tbody>
				    <tr>
				      <td>
					<small>
					  model run:<br>
					  [% IF exp.run_code == "Succeeded" %]
					  <span class="label label-info">[% exp.run_code %]</span>
					  [% END %]
					  [% IF exp.run_code == "Unknown" %]
					  <span class="label label-default">[% exp.run_code %]</span>
					  [% END %]
					  [% IF exp.run_code == "Started" %]
					  <span class="label label-success">[% exp.run_code %]</span>
					  [% END %]
					  [% IF exp.run_code == "Failed" %]
					  <span class="label label-danger">[% exp.run_code %]</span>
					  [% END %]
					</small>
				      </td>

				      <td>
					<small>
					  st_archive:<br>
					  [% IF exp.sta_code == "Succeeded" %]
					  <span class="label label-info">[% exp.sta_code %]</span>
					  [% END %]
					  [% IF exp.sta_code == "Unknown" %]
					  <span class="label label-default">[% exp.sta_code %]</span>
					  [% END %]
					  [% IF exp.sta_code == "Started" %]
					  <span class="label label-success">[% exp.sta_code %]</span>
					  [% END %]
					  [% IF exp.sta_code == "Failed" %]
					  <span class="label label-danger">[% exp.sta_code %]</span>
					  [% END %]
					</small>
				      </td>

				      <td>
					<small>
					  timeseries:<br>
					  [% IF exp.ts_code == "Succeeded" %]
					  <span class="label label-info">[% exp.ts_code %]</span>
					  [% END %]
					  [% IF exp.ts_code == "Unknown" %]
					  <span class="label label-default">[% exp.ts_code %]</span>
					  [% END %]
					  [% IF exp.ts_code == "Started" %]
					  <span class="label label-success">[% exp.ts_code %]</span>
					  [% END %]
					  [% IF exp.ts_code == "Failed" %]
					  <span class="label label-danger">[% exp.ts_code %]</span>
					  [% END %]
					</small>
				      </td>

				      <td>
					<small>
					  conformer:<br>
					  [% IF exp.conform_code == "Succeeded" %]
					  <span class="label label-info">[% exp.conform_code %]</span>
					  [% END %]
					  [% IF exp.conform_code == "Unknown" %]
					  <span class="label label-default">[% exp.conform_code %]</span>
					  [% END %]
					  [% IF exp.conform_code == "Started" %]
					  <span class="label label-success">[% exp.conform_code %]</span>
					  [% END %]
					  [% IF exp.conform_code == "Failed" %]
					  <span class="label label-danger">[% exp.conform_code %]</span>
					  [% END %]
					</small>
				      </td>

				      <td>
					<small>
					  ESGF:<br>
					  [% IF exp.pub_code == "Verified" %]
					  <span class="label label-primary">[% exp.pub_code %]</span>
					  [% END %]
					  [% IF exp.pub_code == "Succeeded" %]
					  <span class="label label-info">[% exp.pub_code %]</span>
					  [% END %]
					  [% IF exp.pub_code == "Unknown" %]
					  <span class="label label-default">[% exp.pub_code %]</span>
					  [% END %]
					  [% IF exp.pub_code == "Started" %]
					  <span class="label label-success">[% exp.pub_code %]</span>
					  [% END %]
					  [% IF exp.pub_code == "Failed" %]
					  <span class="label label-danger">[% exp.pub_code %]</span>
					  [% END %]
					</small>
				      </td>

				      <td>
					<small>
					  DASH:<br>
					  [% IF exp.dash_code == "Verified" %]
					  <span class="label label-primary">[% exp.dash_code %]</span>
					  [% END %]
					  [% IF exp.dash_code == "Succeeded" %]
					  <span class="label label-info">[% exp.dash_code %]</span>
					  [% END %]
					  [% IF exp.dash_code == "Unknown" %]
					  <span class="label label-default">[% exp.dash_code %]</span>
					  [% END %]
					  [% IF exp.dash_code == "Started" %]
					  <span class="label label-success">[% exp.dash_code %]</span>
					  [% END %]
					  [% IF exp.dash_code == "Failed" %]
					  <span class="label label-danger">[% exp.dash_code %]</span>
					  [% END %]
					</small>
				      </td>

				    </tr>
				  </tbody>
				</table>
			      </td>

			      <td>
				<table style="table-layout: fixed; width: 100%" class="table table-condensed">
				  <thead>
				    <tr>
				      <th class="active">model run</th>
				      <th class="active">st_archive</th>
				      <th class="active">timeseries</th>
				      <th class="active">conformer</th>
				      <th class="active">ESGF published</th>
				      <th class="active">overall status</th>
				    </tr>
				  </thead>

				  <tbody>
				    <td>
				      <table class="table table-condensed table-striped small">
					<tbody>
					  <tr>
					    <td id="details">Disk Usage</td>
					    <td>[% exp.run_disk_usage %] MB</td>
					  </tr>
					  <tr>
					    <td id="details">Last Run Date</td>
					    <td>[% exp.run_model_date %]</td>
					  </tr>
					  <tr>
					    <td id="details">Last Update</td>
					    <td>[% exp.run_last_update %]</td>
					  </tr>
					  <tr>
					    <td colspan="2"><b>[% exp.run_model_cost %]</b></td>
					  </tr>
					  <tr>
					    <td colspan="2"><b>[% exp.run_model_throughput %]</b></td>
					  </tr>
					</tbody>
				      </table>
				    </td>

				    <td>
				      <table class="table table-condensed table-striped small">
					<tr>
					  <td id="details">Disk Usage</td>
					  <td>[% exp.sta_disk_usage %] MB</td>
					</tr>
					<tr>
					  <td id="details">Last Archive Date</td>
					  <td>[% exp.sta_model_date %]</td>
					</tr>
					<tr>
					  <td id="details">Process Time</td>
					  <td>[% exp.sta_process_time %]</td>
					</tr>
					<tr>
					  <td id="details">Last Update</td>
					  <td>[% exp.sta_last_update %]</td>
					</tr>
				      </table>
				    </td>

				    <td>
				      <table class="table table-condensed table-striped small">
					<tr>
					  <td id="details">Disk Usage</td>
					  <td>[% exp.ts_disk_usage %] MB</td>
					</tr>
					<tr>
					  <td id="details">Last Timeseries Date</td>
					  <td>[% exp.ts_model_date %]</td>
					</tr>
					<tr>
					  <td id="details">Process Time</td>
					  <td>[% exp.ts_process_time %]</td>
					</tr>
					<tr>
					  <td id="details">Last Update</td>
					  <td>[% exp.ts_last_update %]</td>
					</tr>
				      </table>
				    </td>

				    <td>
				      <table class="table table-condensed table-striped small">
					<tr>
					  <td id="details">Disk Usage</td>
					  <td>[% exp.conform_disk_usage %] MB</td>
					</tr>
					<tr>
					  <td id="details">Last Conform Date</td>
					  <td>[% exp.conform_model_date %]</td>
					</tr>
					<tr>
					  <td id="details">Process Time</td>
					  <td>[% exp.conform_process_time %]</td>
					</tr>
					<tr>
					  <td id="details">Last Update</td>
					  <td>[% exp.conform_last_update %]</td>
					</tr>
				      </table>
				    </td>

				    <td>
				      <table class="table table-condensed table-striped small">
					<tr>
					  <td id="details">Disk Usage</td>
					  <td>[% exp.pub_disk_usage %] MB</td>
					</tr>
					<tr>
					  <td id="details">Last Update</td>
					  <td>[% exp.pub_last_update %]</td>
					</tr>
				      </table>
				    </td>

				    <td>
				      <table class="table table-condensed table-striped small">
					<tr>
					  <td valign="top">Total Disk Usage<br/>(excluding ESGF)</td>
					  <td>[% exp.total_disk_usage %] MB</td>
					</tr>
					<tr>
					  <td valign="top">Run Percent Complete</td>
					  [% IF exp.run_percent_complete > 0 %]
					  <td bgcolor="#00ff00">[% exp.run_percent_complete %]%</td>
					  [% ELSE %]
					  <td bgcolor="#ffccff">[% exp.run_percent_complete %]%</td>
					  [% END %]
					</tr>
					<tr>
					  <td valign="top">Archive Percent Complete</td>
					  [% IF exp.sta_percent_complete > 0 %]
					  <td bgcolor="#00ff00">[% exp.sta_percent_complete %]%</td>
					  [% ELSE %]
					  <td bgcolor="#ffccff">[% exp.sta_percent_complete %]%</td>
					  [% END %]
					</tr>
					<tr>
					  <td valign="top">Timeseries Percent Complete</td>
					  [% IF exp.ts_percent_complete > 0 %]
					  <td bgcolor="#00ff00">[% exp.ts_percent_complete %]%</td>
					  [% ELSE %]
					  <td bgcolor="#ffccff">[% exp.ts_percent_complete %]%</td>
					  [% END %]
					</tr>
					<tr>
					  <td valign="top">Conform Percent Complete</td>
					  [% IF exp.conform_percent_complete > 0 %]
					  <td bgcolor="#00ff00">[% exp.conform_percent_complete %]%</td>
					  [% ELSE %]
					  <td bgcolor="#ffccff">[% exp.conform_percent_complete %]%</td>
					  [% END %]
					</tr>
				      </table>
				    </td>
				  </tbody>
				</table>
			      </td>
			    </tr>
			    [% END %]
			  </tbody>

			  <tfoot>
			    <tr>
			      <th></th>
			      <th>ID</th>
			      <th>Casename</th>
			      <th>Experiment Name</th>
			      <th>Overall Status Summary</th>
			      <th class="none">Details</th>
			    </tr>
			  </tfoot>
			</table>
		      </div>
		      <!-- overall experiment status end -->


		      <div class="tab-pane fade" role="tabpanel" id="DIAGS" aria-labelledby="DIAGS-tab">
			<div class="row" style="margin-bottom: 10px;">
			  <div class="col-lg-12 text-center" style="padding-top: 10px;">
			    <button type="button" class="btn btn-default btn-sm" id="diagsBtn-show-all-children">
			      <i class="fa fa-folder-open"></i> Show All
			    </button>

			    <button type="button" class="btn btn-default btn-sm" id="diagsBtn-hide-all-children">
			      <i class="fa fa-folder-open"></i> Hide All
			    </button>
			  </div>
			</div>

			<table id="diagsTable" class="table table-striped table-condensed" style="width: 100%;">
			  <thead>
			    <tr>
			      <th></th>
			      <th>ID</th>
			      <th>Casename</th>
			      <th>Experiment Name</th>
			      <th class="none">Title</th>
			      <th class="none">Diagnostics Sets</th>
			    </tr>
			  </thead>

			  <tbody>
			    [% FOREACH exp IN CMIP6Diags %]
			    <tr>
			      <td></td>
			      <td>[% exp.case_id %]</td>
			      <td><a href="/expdb2.0/cgi-bin/expList.cgi?action=showCaseDetail&case_id=[% exp.case_id %]" target="_blank">[% exp.casename %]</a></td>
			      <td><a href="http://clipc-services.ceda.ac.uk/dreq/u/[% exp.cmip6_exp_uid %].html" target="_blank">[% exp.expName %]</a></td>
			      <td style="white-space:normal;">[% exp.title %]</td>
			      <td>
				<table class="table table-condensed table-striped small" width="100%">
				  <tbody>
				    [% FOREACH link_id IN exp.diagDetails.keys %]
				    <tr>
				      <td id="details" style="text-align:right;"><strong>[% exp.diagDetails.$link_id.process %]</strong></td>
				      <td id="details">Last Update: [% exp.diagDetails.$link_id.last_update %] </td>
				    </tr>
				    <tr>
				      <td id="details" style="text-align:right;">Description</td>
				      <td>[% exp.diagDetails.$link_id.description %]</td>
				    </tr>
				    <tr>
				      <td id="details" style="text-align:right;">Link</td>
				      <td><a target="_blank" href="[% exp.diagDetails.$link_id.link %]">[% exp.diagDetails.$link_id.link %]</td>
				    </tr>
				    [% END %]
				  </tbody>
				</table>
			      </td>
			    </tr>
			    [% END %]
			  </tbody>
			  <tfoot>
			    <tr>
			      <th></th>
			      <th>ID</th>
			      <th>Case Name</th>
			      <th>Experiment Name</th>
			      <th class="none">Title</th>
			      <th class="none">Diagnostics Sets</th>
			    </tr>
			  </tfoot>
			</table>
		      </div>

		    </div>

		  </div>
		  <!-- tab box for cmip6exp end -->



		  <!-- tab box for cesm2tune start -->
		  <div class="tab-pane fade" role="tabpanel" id="cesm2tune" aria-labelledby="cesm2tune-tab"> 
		    <table id="cesm2tuneTable" class="table table-striped table-condensed" style="width: 100%;">
		      <thead>
			<th>Case Name</th>
			<th>Title</th>
			<th>Archive Date</th>
		      </thead>
		      <tbody>
			[% FOREACH exp IN cesm2tune %]
			<tr>
			  <td><a href="/expdb2.0/cgi-bin/expList.cgi?action=showCaseDetail&case_id=[% exp.case_id %]" target="_blank">[% exp.casename %]</a></td>
			  <td>[% exp.title %]</td>
			  <td>[% exp.archive_date %]</td>
			</tr>
			[% END %]
		      </tbody>
		    </table>
		  </div>
		  <!-- tab box for cesm2tune end -->



		  <!-- tab box for cesm2exp start -->
		  <div class="tab-pane fade" role="tabpanel" id="cesm2exp" aria-labelledby="cesm2exp-tab"> 
		    <table id="cesm2expTable" class="table table-striped table-condensed" style="width: 100%;">
		      <thead>
			<th>Case Name</th>
			<th>Title</th>
			<th>Archive Date</th>
		      </thead>
		      <tbody>
			[% FOREACH exp IN cesm2exps %]
			<tr>
			  <td><a href="/expdb2.0/cgi-bin/expList.cgi?action=showCaseDetail&case_id=[% exp.case_id %]" target="_blank">[% exp.casename %]</a></td>
			  <td>[% exp.title %]</td>
			  <td>[% exp.archive_date %]</td>
			</tr>
			[% END %] 
		      </tbody>
		    </table>
		  </div>
		  <!-- tab box for cesm2exp end -->


		  <!-- tab box for cesm2lens start -->
		  <div class="tab-pane fade" role="tabpanel" id="cesm2lens" aria-labelledby="cesm2lens-tab"> 
		    <table id="cesm2LensTable" class="table table-striped table-condensed" style="width: 100%;">
		      <thead>
			<th>Case Name</th>
			<th>Title</th>
			<th>Archive Date</th>
		      </thead>
		      <tbody>
			[% FOREACH exp IN lensExps %]
			<tr>
			  <td><a href="/expdb2.0/cgi-bin/expList.cgi?action=showCaseDetail&case_id=[% exp.case_id %]" target="_blank">[% exp.casename %]</a></td>
			  <td>[% exp.title %]</td>
			  <td>[% exp.archive_date %]</td>
			</tr>
			[% END %]
		      </tbody>
		    </table>
		  </div>
		  <!-- tab box for cesm2lens end -->


		  <!-- tab box for C1 start -->
		  <div class="tab-pane fade" role="tabpanel" id="C1" aria-labelledby="cesm2C1-tab"> 
		    <p>Community Project C1. Transient Holocene (11.4 M core-hours): The
		    transient Holocene simulation will provide model
		    data to the CESM community to more fully explore
		    multidecadal and longer variability and rapid
		    transitions of, for example: ENSO and other modes
		    of climate variability; monsoons and droughts; the
		    Atlantic meridional overturning circulation; and
		    tropical/extratropical linkages. This
		    unprecedented simulation, covering the period from
		    9000 years ago until the beginning of the last
		    millennium simulation (850 AD) - for a total of
		    8150 years - will be run with the CESM2.1 FV2x1
		    model version. This simulation was included as a
		    community project simulation in the last CESM CSL
		    allocation request, but needed to be deferred due
		    to the delay in CESM2. Requested by PaleoWG and
		    LIWG with AMWG and WAWG interests in the behavior
		    of the FV2 model version.</p>
		    <table id="C1Table" class="table table-striped table-condensed" style="width: 100%;">
		      <thead>
			<th>Case Name</th>
			<th>Title</th>
			<th>Archive Date</th>
		      </thead>
		      <tbody>
			[% FOREACH exp IN C1 %]
			<tr>
			  <td><a href="/expdb2.0/cgi-bin/expList.cgi?action=showCaseDetail&case_id=[% exp.case_id %]" target="_blank">[% exp.casename %]</a></td>
			  <td>[% exp.title %]</td>
			  <td>[% exp.archive_date %]</td>
			</tr>
			[% END %]
		      </tbody>
		    </table>
		  </div>
		  <!-- tab box for C1 end-->


		  <!-- tab box for C2 start -->
		  <div class="tab-pane fade" role="tabpanel" id="C2" aria-labelledby="cesm2C2-tab"> 
		    <p>Community Project C2. High-resolution ocean
		    (POP) with biogeochemistry (BGC) (15.0 M
		    core-hours): Performing a hindcast eddy-resolving
		    (0.1Â°) ocean simulation with BGC remains a
		    high-priority. This is a frontier modeling
		    capability and only a few such integrations have
		    been conducted worldwide. A broad community of
		    researchers has interest in these
		    integrations. The model will use MARBL and will be
		    forced with the newly developed JRA55
		    inter-annually varying atmospheric data sets based
		    on the Japanese Meteorological Agency Reanalysis
		    Product. The simulation will be performed for the
		    50-year period from 1967 - 2016. Requested
		    by OMWG, PCWG, and BGCWG; directly feeds in to the
		    world-wide ocean modeling community and the
		    activities / efforts of the International CLIVAR
		    Ocean Model Development Panel (OMDP).</p>
		    <table id="C2Table" class="table table-striped table-condensed" style="width: 100%;">
		      <thead>
			<th>Case Name</th>
			<th>Title</th>
			<th>Archive Date</th>
		      </thead>
		      <tbody>
			[% FOREACH exp IN C2 %]
			<tr>
			  <td><a href="/expdb2.0/cgi-bin/expList.cgi?action=showCaseDetail&case_id=[% exp.case_id %]" target="_blank">[% exp.casename %]</a></td>
			  <td>[% exp.title %]</td>
			  <td>[% exp.archive_date %]</td>
			</tr>
			[% END %]
		      </tbody>
		    </table>
		  </div>
		  <!-- tab box for C2 end-->


		  <!-- tab box for C3 start -->
		  <div class="tab-pane fade" role="tabpanel" id="C3" aria-labelledby="cesm2C3-tab"> 
		    <p>Community Project C3. Subseasonal-to-seasonal
		    (S2S) hindcasts (2.8 M core-hours): S2S hindcasts
		    for years 1999 - 2018 will be carried out using
		    the CESM2 nominal 1Â° version and following the
		    Subseasonal Experiment (SubX) protocol. 10-member
		    ensemble hindcasts will be initiated every
		    Wednesday from March to mid-October and run for 45
		    days each. Comparison of hindcasts with CESM2 to
		    CESM1 will allow for the characterization in
		    changes in model skill coming strictly from the
		    new model physics in CESM2. The analysis will
		    focus on simulation skill of weeks 3 to 6 surface
		    temperature and precipitation as well as the skill
		    of the Madden-Julian Oscillation, which is
		    improved in climate simulations with CESM2 as
		    compared to CESM1. Requested by AMWG with
		    interests from OMWG and PCWG; directly
		    complimenting the national SubX efforts.</p>
		    <table id="C3Table" class="table table-striped table-condensed" style="width: 100%;">
		      <thead>
			<th>Case Name</th>
			<th>Title</th>
			<th>Archive Date</th>
		      </thead>
		      <tbody>
			[% FOREACH exp IN C3 %]
			<tr>
			  <td><a href="/expdb2.0/cgi-bin/expList.cgi?action=showCaseDetail&case_id=[% exp.case_id %]" target="_blank">[% exp.casename %]</a></td>
			  <td>[% exp.title %]</td>
			  <td>[% exp.archive_date %]</td>
			</tr>
			[% END %]
		      </tbody>
		    </table>
		  </div>
		  <!-- tab box for C3 end-->


		  <!-- tab box for C4 start -->
		  <div class="tab-pane fade" role="tabpanel" id="C4" aria-labelledby="cesm2C4-tab"> 
		    <p>Community Project C4. CESM2 with RCP8.5
		    projections (6.3 M core-hours): CESM2 has
		    considerable changes relative to the CESM1. In
		    order to understand these changes and their impact
		    on climate variability and change, simulations are
		    needed with identical forcing for the 20th and
		    21st centuries. Given this, an ensemble set of
		    historical and future projections that apply the
		    same forcing as in the CESM-LE configuration is
		    proposed. Specifically, a 10-member ensemble of
		    CESM2 simulations for the 1920-2100 period, forced
		    by the same historical forcing as the CESM-LE and
		    the RCP8.5 projection scenario will be performed,
		    allowing comparisons of the historical and
		    projected climate change under RCP8.5 with the
		    projected climate change in the standard CMIP6
		    runs with the CESM2 using SSP5-8.5 and
		    SSP3-7.0. Given the huge success and wide use of
		    the CESM-LE project, having the opportunity to
		    establish how the CESM2 projections differ from
		    the CESM-LE projections will be very beneficial to
		    a large community of scientists. Requested by PCWG
		    with significant interests from CVCWG and
		    AMWG.</p>
		    <table id="C4Table" class="table table-striped table-condensed" style="width: 100%;">
		      <thead>
			<th>Case Name</th>
			<th>Title</th>
			<th>Archive Date</th>
		      </thead>
		      <tbody>
			[% FOREACH exp IN C4 %]
			<tr>
			  <td><a href="/expdb2.0/cgi-bin/expList.cgi?action=showCaseDetail&case_id=[% exp.case_id %]" target="_blank">[% exp.casename %]</a></td>
			  <td>[% exp.title %]</td>
			  <td>[% exp.archive_date %]</td>
			</tr>
			[% END %]
		      </tbody>
		    </table>
		  </div>
		  <!-- tab box for C4 end-->


		  <!-- tab box for C5 start -->
		  <div class="tab-pane fade" role="tabpanel" id="C5" aria-labelledby="cesm2C5-tab"> 
		    <p>Community Project C5. Development of a CESM
		    Arctic Prediction System (CAPS) (7.8 M
		    core-hours): CESM is uniquely placed to advance
		    understanding processes and predictability of
		    polar regions. Predictability on scales from
		    sub-seasonal to seasonal (S2S) out to decadal and
		    centennial requires a high resolution coupled
		    system. CESM2 with a refined mesh atmosphere at
		    high resolution (7-15 km) can be coupled to
		    high-resolution versions of the other component
		    models. Before doing so, however, we propose to do
		    initial tests and development with a 1Â° ocean
		    with BGC coupled to a high-resolution
		    atmosphere. As such, the request represents the
		    start of a larger development of a coupled
		    prediction system for the Arctic that would
		    involve high resolution prediction with
		    initialized forecasts when a more unified system
		    is ready. It is consistent with one of
		    NSF's 10 big ideas, i.e., Navigating the
		    New Arctic. Requested by AMWG, LIWG, LMWG, and
		    PCWG.</p>
		    <table id="C5Table" class="table table-striped table-condensed" style="width: 100%;">
		      <thead>
			<th>Case Name</th>
			<th>Title</th>
			<th>Archive Date</th>
		      </thead>
		      <tbody>
			[% FOREACH exp IN C5 %]
			<tr>
			  <td><a href="/expdb2.0/cgi-bin/expList.cgi?action=showCaseDetail&case_id=[% exp.case_id %]" target="_blank">[% exp.casename %]</a></td>
			  <td>[% exp.title %]</td>
			  <td>[% exp.archive_date %]</td>
			</tr>
			[% END %]
		      </tbody>
		    </table>
		  </div>
		  <!-- tab box for C5 end-->

		</div>
	      </div>
	    </div>
	  </div>
	</div>
      </section>

      <!-- footer start -->
      <footer>        
	[% INCLUDE 'modern/includes/footer/footer-inc.html' %]
      </footer>
      <!-- footer end -->

      <a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>

      [% INCLUDE 'modern/js/js-include.html' %]

      <script>
	[% INCLUDE 'modern/js/datatables.min.js' %]

	var cmip6ExpTable = $('#cmip6ExpTable').DataTable({
	"responsive": true,
	"lengthMenu": [ [50, 100, -1], [50, 100, "All"] ],
	"order": [ [ 0, 'dsc'] ]
	});


	var statusTable = $('#statusTable').DataTable({
	"responsive": true,
	"lengthMenu": [ [25, 50, -1], [25, 50, "All"] ],
	"order": [ [ 0, 'asc'] ]
	});

	// Handle click on "Expand All" button
	$('button#statusBtn-show-all-children').on('click', function(){
	// Expand row details
	statusTable.rows(':not(.parent)').nodes().to$().find('td:first-child').trigger('click');
	});

	// Handle click on "Collapse All" button
	$('button#statusBtn-hide-all-children').on('click', function(){
	// Collapse row details
	statusTable.rows('.parent').nodes().to$().find('td:first-child').trigger('click');
	});


	var diagsTable = $('#diagsTable').DataTable( {
	"responsive": true,
	"lengthMenu": [ [25, 50, -1], [25, 50, "All"] ],
	"order": [ [ 0, 'asc'] ]
	} );

	// Handle click on "Expand All" button
	$('button#diagsBtn-show-all-children').on('click', function(){
	// Expand row details
	diagsTable.rows(':not(.parent)').nodes().to$().find('td:first-child').trigger('click');
	});

	// Handle click on "Collapse All" button
	$('button#diagsBtn-hide-all-children').on('click', function(){
	// Collapse row details
	diagsTable.rows('.parent').nodes().to$().find('td:first-child').trigger('click');
	});

	$('.btn-show-DECK').on('click', function () {
	$('#accordion-DECK .panel-collapse').collapse('toggle');
	});

	$('.btn-show-MIP').on('click', function () {
	$('#accordion-MIP .panel-collapse').collapse('toggle');
	});

	$('.btn-show-DCPP').on('click', function () {
	$('#accordion-DCPP .panel-collapse').collapse('toggle');
	});
      </script>
    </div>
  </body>
</html>
