<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
        <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
  <title>CESM2.0 Experiments Database</title>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
   <meta http-equiv="cache-control" content="max-age=0" />
   <meta http-equiv="cache-control" content="no-cache" />
   <meta http-equiv="expires" content="0" />
   <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
   <meta http-equiv="pragma" content="no-cache" />
   <meta name="description" content="CESM2.0 Experiments Database"/>
   <meta name="keywords"    content="CESM Software Engineering Working Group"/>
   <style type="text/css" media="screen">
     @import "/styles/cesm.css"; 
     @import "/styles/teststyles.css";
     @import "/svnuser/css/svnuser.css";
     @import "/jqueryui/development-bundle/demos/demos.css";
     @import "/jqueryui/css/redmond/jquery-ui-1.8.23.custom.css";
     @import "/jquerydt/DataTables-1.9.3/media/css/jquery.dataTables.css";
     }
   </style>

   <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
   <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
   <script src="/jquery-validation/jquery.validate.js" language="javascript" type="text/javascript"></script>
   <script type="text/javascript" language="javascript" src="/scripts/jquery.dataTables.js"></script>
   <script type="text/javascript" src="/scripts/popitup.js"></script>
   <script type="text/javascript" src="/scripts/exp_dashboard.js"></script>  

</head>

<body style="text-align: left">
  <p>
    [% INCLUDE header.tmpl %]
  </p>

  [% IF validstatus.status == 0 %]
  <div align="center">
  <span class="error">Reserve a CMIP6 Case Name Errors:</span>
      <p>
	[% validstatus.message %]
      </p>
  </div>
 [% END %]

  <div id="dashtabs">
    <ul>
      <li><a href="#cmip6exp">CESM 2 / CMIP 6 Experiments</a></li>
      <li><a href="#cesm2exp">CESM 2 Production Experiments</a></li>
      <li><a href="#cesm2tune">CESM 2 Tuning Experiments</a></li>
      <li><a href="#projectA">CESM 2 Project A Experiments</a></li>
      <li><a href="#projectB">CESM 2 Project B Experiments</a></li>
    </ul>

    <div id="cmip6exp">
      <div id="subtabs">
	<ul>
	  <li><a href="#DECK">DECK Experiments</a></li>
	  <li><a href="#MIP">MIP Experiments</a></li>
	  <li><a href="#DCPP">Decadal Prediction Experiments</a></li>
	  <li><a href="#NAMED">Experiments by Name</a></li>
	  <li><a href="#RESERVE">Reserve a CMIP6 Case Name</a></li>
	  <li><a href="#STATUS">Overall Experiment Status</a></li>
	</ul>
	
	<div id="DECK">
	  <a class="show-all-applying-DECK show-hide">show all</a>
	  <br/>
	  <br/>
	  <div class="DECK_accordion DECK_applying">
	    <div id="DECK_accordion">
	      [% FOREACH DECKexp IN CMIP6DECKs %]
	      <h3>[% DECKexp.name %] - [% DECKexp.description %]</h3>
	      <div id="DECK_table">
		<table class="bordered" id="[% DECKexp.name %]Table">
		  <thead>
		    <th>Case Name</th>
		    <th>Experiment Name</th>
		    <th>Designing MIP</th>
		    <th>Request Date</th>
		    <th>Archive Date</th>
		  </thead>
		  <tbody>
		    [% FOREACH exp IN DECKexp.exps %]
		    <tr>
		      <td><a href="/expdb2.0/cgi-bin/expList.cgi?action=showCaseDetail&case_id=[% exp.case_id %]">[% exp.casename %]</a></td>
		      <td><a href="http://clipc-services.ceda.ac.uk/dreq/u/[% exp.cmip6_exp_uid %].html" target="_blank">[% exp.expName %]</a></td>
		      <td>[% exp.designMIP %]</td>
		      <td>[% exp.request_date %]</td>
		      <td>[% exp.archive_date %]</td>
		    </tr>
		    [% END %]
		  </tbody>
		</table>
	      </div>
	      [% END %]
	    </div>
	  </div>
	</div>

	<div id="MIP">
	  <a class="show-all-applying-MIP show-hide">show all</a>
	  <br/>
	  <br/>
	  <div class="MIP_accordion MIP_applying">
	    <div id="MIP_accordion">
	      [% FOREACH MIPexp IN CMIP6MIPs %]
	      <h3>[% MIPexp.name %] - [% MIPexp.description %]</h3>
	      <div id="MIP_table">
		<table class="bordered" id="[% MIPexp.name %]Table">
		  <thead>
		    <th>Case Name</th>
		    <th>Experiment Name</th>
		    <th>Designing MIP</th>
		    <th>Request Date</th>
		    <th>Archive Date</th>
		  </thead>
		  <tbody>
		    [% FOREACH exp IN MIPexp.exps %]
		    <tr>
		      <td><a href="/expdb2.0/cgi-bin/expList.cgi?action=showCaseDetail&case_id=[% exp.case_id %]">[% exp.casename %]</a></td>
		      <td><a href="http://clipc-services.ceda.ac.uk/dreq/u/[% exp.cmip6_exp_uid %].html" target="_blank">[% exp.expName %]</a></td>
		      <td>[% exp.designMIP %]</td>
		      <td>[% exp.request_date %]</td>
		      <td>[% exp.archive_date %]</td>
		    </tr>
		    [% END %]
		  </tbody>
		</table>
	      </div>
	      [% END %]
	    </div>
	  </div>
	</div>


	<div id="DCPP">
	  <a class="show-all-applying-DCPP show-hide">show all</a>
	  <br/>
	  <br/>
	  <div class="DCPP_accordion DCPP_applying">
	    <div id="DCPP_accordion">
	      [% FOREACH DCPPexp IN CMIP6DCPPs %]
	      <h3>[% DCPPexp.name %]</h3>
	      <div id="DCPP_table">
		<table class="bordered" id="[% MIPexp.name %]Table">
		  <thead>
		    <th colspan="5"><a href="http://clipc-services.ceda.ac.uk/dreq/u/[% DCPPexp.uid %].html" target="_blank">[% DCPPexp.description %]</a></th>
		  </thead>
		  <thead>
		    <th>Case Name</th>
		    <th>Experiment Name</th>
		    <th>Designing MIP</th>
		    <th>Request Date</th>
		    <th>Archive Date</th>
		  </thead>
		  <tbody>
		    [% FOREACH exp IN DCPPexp.exps %]
		    <tr>
		      <td><a href="/expdb2.0/cgi-bin/expList.cgi?action=showCaseDetail&case_id=[% exp.case_id %]">[% exp.casename %]</a></td>
		      <td><a href="http://clipc-services.ceda.ac.uk/dreq/u/[% DCPPexp.uid %].html" target="_blank">[% exp.expName %]</a></td>
		      <td>[% exp.designMIP %]</td>
		      <td>[% exp.request_date %]</td>
		      <td>[% exp.archive_date %]</td>
		    </tr>
		    [% END %]
		  </tbody>
		</table>
	      </div>
	      [% END %]
	    </div>
	  </div>
	</div>

	<div id="NAMED">
	  <table class="bordered">
	    <thead>
	      <th>Case Name</th>
	      <th>Experiment Name</th>
	      <th>Designing MIP</th>
	      <th>Request Date</th>
	      <th>Archive Date</th>
	    </thead>
	    <tbody>
	      [% FOREACH exp IN CMIP6Exps %]
	      <tr>
		<td><a href="/expdb2.0/cgi-bin/expList.cgi?action=showCaseDetail&case_id=[% exp.case_id %]">[% exp.casename %]</a></td>
		<td><a href="http://clipc-services.ceda.ac.uk/dreq/u/[% exp.cmip6_exp_uid %].html" target="_blank">[% exp.expName %]</a></td>
		<td>[% exp.designMIP %]</td>
		<td>[% exp.request_date %]</td>
		<td>[% exp.archive_date %]</td>
	      </tr>
	      [% END %]
	    </tbody>
	  </table>
	</div>

	<div id=RESERVE>
	  [% INCLUDE reserveCase.tmpl %]
	</div>

	<div id=STATUS>
	  <table class="bordered">
	    <thead>
	      <th>Case Name</th>
	      <th>Experiment Name</th>
	      <th>Run Status</th>
	      <th>Timeseries Status</th>
	      <th>Conformer Status</th>
	      <th>Disk Space Usage</th>
	      <th>Last Update</th>
	    </thead>
	    <tbody>
	      [% FOREACH exp IN statueExps %]
	      <tr>
		<td><a href="/expdb2.0/cgi-bin/expList.cgi?action=showCaseDetail&case_id=[% exp.case_id %]">[% exp.casename %]</a></td>
		<td><a href="http://clipc-services.ceda.ac.uk/dreq/u/[% exp.cmip6_exp_uid %].html" target="_blank">[% exp.expName %]</a></td>
		<td>[% exp.runStatus %]</td>
		<td>[% exp.timeseriesStatus %]</td>
		<td>[% exp.conformerStatus %]</td>
		<td>[% exp.diskStatus %]</td>
		<td>[% exp.lastUpdate %]</td>
	      </tr>
	      [% END %]
	    </tbody>
	  </table>
	</div>

      </div>
    </div>

    <div id="cesm2exp">
      <table class="bordered" id="cesm2expTable">
	<thead>
	  <th>Case Name</th>
	  <th>Title</th>
	  <th>Archive Date</th>
	</thead>
	<tbody>
	  [% FOREACH exp IN cesm2exps %]
	  <tr>
	    <td><a href="/expdb2.0/cgi-bin/expList.cgi?action=showCaseDetail&case_id=[% exp.case_id %]">[% exp.casename %]</a></td>
	    <td>[% exp.title %]</td>
	    <td>[% exp.archive_date %]</td>
	  </tr>
	  [% END %] 
	</tbody>
      </table>
    </div>

    <div id="cesm2tune">
      <table class="bordered" id="cesm2tuneTable">
	<thead>
	  <th>Case Name</th>
	  <th>Title</th>
	  <th>Archive Date</th>
	</thead>
	<tbody>
	  [% FOREACH exp IN cesm2tune %]
`	  <tr>
	    <td><a href="/expdb2.0/cgi-bin/expList.cgi?action=showCaseDetail&case_id=[% exp.case_id %]">[% exp.casename %]</a></td>
	    <td>[% exp.title %]</td>
	    <td>[% exp.archive_date %]</td>
	  </tr>
	  [% END %]
	</tbody>
      </table>
    </div>

    <div id="projectA">
      <table class="bordered" id="ProjectATable">
	<thead>
	  <th>Case Name</th>
	  <th>Title</th>
	  <th>Archive Date</th>
	</thead>
	<tbody>
	  [% FOREACH exp IN projectA %]
	  <tr>
	    <td><a href="/expdb2.0/cgi-bin/expList.cgi?action=showCaseDetail&case_id=[% exp.case_id %]">[% exp.casename %]</a></td>
	    <td>[% exp.title %]</td>
	    <td>[% exp.archive_date %]</td>
	  </tr>
	  [% END %]
	</tbody>
      </table>
    </div>

    <div id="projectB">
      <table class="bordered" id="ProjectBTable">
	<thead>
	  <th>Case Name</th>
	  <th>Title</th>
	  <th>Archive Date</th>
	</thead>
	<tbody>
	  [% FOREACH exp IN projectB %]
	  <tr>
	    <td><a href="/expdb2.0/cgi-bin/expList.cgi?action=showCaseDetail&case_id=[% exp.case_id %]">[% exp.casename %]</a></td>
	    <td>[% exp.title %]</td>
	    <td>[% exp.archive_date %]</td>
	  </tr>
	  [% END %]
	</tbody>
      </table>
    </div>

</body>
</html>
