<div class="loginHeader">
    <div class="ui-state-default ui-corner-all" style="position: absolute; top: 20px; left: 20px; font-weight:normal">
     <form name="expForm">
     <a href="/expdb/cgi-bin/index.cgi" target="_blank">CESM1.0 Experiments</a>&nbsp;&nbsp;|&nbsp;&nbsp;
     <a href="/expdb2.0/cgi-bin/expList.cgi">CESM2.0 Experiments</a>&nbsp;&nbsp;|&nbsp;&nbsp;
     <a href="/expdb2.0/cgi-bin/search.cgi">Advanced Search</a>&nbsp;&nbsp;|&nbsp;&nbsp;
     	Select a Case Name:
    	  <select id="expPD">
	     <option>Select Case Name</option>
	     [% FOREACH case IN allCases %]
	   	  <option value="[% case.case_id %]">[% case.casename %]</option>
	     [% END %]
	  </select>
      </form>

<script>
$('#expPD').change(function() {
//  alert('The option with value ' + $(this).val() + ' and text ' + $(this).text() + ' was selected.');
  window.location = '/expdb2.0/cgi-bin/expList.cgi?action=showCaseDetail&case_id=' + $(this).val();
});
</script>

    </div>
    Logged in as <b>[% authUser.lfirstname %] [% authUser.llastname %]</b>&nbsp;&nbsp;|&nbsp;&nbsp;<span class="ui-state-default ui-corner-all" style="font-weight:normal"><a href="/expdb2.0/cgi-bin/login.cgi?action=logout">Logout</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/expdb2.0/html/procedures.html">Help</a></span>
</div>
