	<script type="text/javascript">
	    function changeExp(value)
	    {
	       var xmlhttp;
	       if (window.XMLHttpRequest)
	         {// code for IE7+, Firefox, Chrome, Opera, Safari
		   xmlhttp=new XMLHttpRequest();
		 }
		 else
		 {// code for IE6, IE5
		   xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
		 }
		 xmlhttp.onreadystatechange=function()
		 {
		    if (xmlhttp.readyState==4 && xmlhttp.status==200)
		    {
		    	// window.location.reload;
			window.location.href = "/expdb2.0/cgi-bin/expList.cgi";
		    }
		 }
		 xmlhttp.open("GET","/expdb2.0/cgi-bin/expList.cgi?action=showExpDetail&case_id="+value,true);
	         xmlhttp.send();
	    }
	  </script>


<div class="loginHeader">
    <div class="ui-state-default ui-corner-all" style="position: absolute; top: 20px; left: 20px; font-weight:normal">
     <form name="expForm">
     <a href="/expdb/cgi-bin/index.cgi" target="_blank">CESM1.0 Experiments</a>&nbsp;&nbsp;|&nbsp;&nbsp;
     <a href="/expdb2.0/cgi-bin/expList.cgi">CESM2.0 Experiments</a>&nbsp;&nbsp;|&nbsp;&nbsp;
     <a href="/expdb2.0/cgi-bin/search.cgi">Advanced Search</a>&nbsp;&nbsp;|&nbsp;&nbsp;
     	Select a Case Name:
    	  <select id="expPD" name="expPD" onchange="changeExp(this.value)">
	     <option>Select Case Name</option>
	     [% FOREACH exp IN allCases %]
	   	  <option value="[% exp.case_id %]">[% exp.casename %]</option>
	     [% END %]
	  </select>
      </form>


    </div>
    Logged in as <b>[% authUser.lfirstname %] [% authUser.llastname %]</b>&nbsp;&nbsp;|&nbsp;&nbsp;<span class="ui-state-default ui-corner-all" style="font-weight:normal"><a href="/expdb2.0/cgi-bin/login.cgi?action=logout">Logout</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/expdb2.0/html/procedures.html">Help</a></span>
</div>
