<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
        <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
  <title>CESM2 Experiments Database</title>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
   <meta http-equiv="cache-control" content="max-age=0" />
   <meta http-equiv="cache-control" content="no-cache" />
   <meta http-equiv="expires" content="0" />
   <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
   <meta http-equiv="pragma" content="no-cache" />
   <meta name="description" content="CESM2.0 Experiments Database"/>
   <meta name="keywords"    content="CESM Software Engineering Working Group"/>
   <style type="text/css" media="screen">
     @import "/styles/cesm.css"; 
     @import "/styles/teststyles.css";
     @import "/svnuser/css/svnuser.css";
     @import "/jqueryui/development-bundle/demos/demos.css";
     @import "/jqueryui/css/redmond/jquery-ui-1.8.23.custom.css";
     @import "/jquerydt/DataTables-1.9.3/media/css/jquery.dataTables.css";
   </style>
   <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
   <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
   <script src="/jquery-validation/jquery.validate.js" language="javascript" type="text/javascript"></script>
   <script type="text/javascript" language="javascript" src="/scripts/jquery.dataTables.js"></script>
   <script type="text/javascript" src="/scripts/popitup.js"></script>
   <script type="text/javascript" src="/expdb2.0/scripts/exp_dashboard.js"></script>  
</head>

<body>
  <div class="body">
    <h1>[% case.casename.value %] - Publish to DASH</h1>

    <div class="expDetail_accordion expDetail_applying">
    <div id="expDetail_accordion">

      <h3>Experiment/Case Details</h3>
      <div id="expDetail_table">
	<table class="bordered">
	  <thead>
	    <th>Variable Name</th>		
	    <th>Value</th>		
	  </thead>
	  <tr>
	    <td>Case Name (CASE):</td>
	    <td>[% case.casename.value %]</td>
	    </td>
	  </tr>
	  <tr>
	    <td>Caseroot (CASEROOT):</td>
	    <td>[% case.caseroot.value %]</td>
	  </tr>
	  <tr>
	    <td>Compiler (COMPILER):</td>
	    <td>[% case.compiler.value %]</td>
	  </tr>
	  <tr>
	    <td>Component Set (COMPSET):</td>
	    <td>[% case.compset.value %]</td>
	  </tr>
	  <tr>
	    <td>Project or Experiment Type:</td>
	    <td>[% case.expType_name.value %] - [% case.expType_desc.value %]</td>
	  </tr>
	  <tr>
	    <td>Grid (GRID):</td>
	    <td>[% case.grid.value %]</td>
	  </tr>
	  <tr>
	    <td>Machine (MACH):</td>
	    <td>[% case.machine.value %]</td>
	  </tr>
	  <tr>
	    <td>Model (MODEL):</td>
	    <td>[% case.model.value %]</td>
	  </tr>
	  <tr>
	    <td>Model Version (MODEL_VERSION):</td>
	    <td>[% case.model_version.value %]</td>
	  </tr>
	  <tr>
	    <td>MPI Library (MPILIB):</td>
	    <td>[% case.mpilib.value %]</td>
	  </tr>
	  <tr>
	    <td>Initial Archive Date:</td>
	    <td>[% case.archive_date.value %]</td>
	  </tr>
	  <tr>
	    <td>Run Reference Case (RUN_REFCASE):</td>
	    <td>[% case.run_refcase.value %]</td>
	  </tr>
	  <tr>
	    <td>Run Reference Date (RUN_REFDATE):</td>
	    <td>[% case.run_refdate.value %]</td>
	  </tr>
	  <tr>
	    <td>Run Start Date (STARTDATE):</td>
	    <td>[% case.run_startdate.value %]</td>
	  </tr>
	  <tr>
	    <td>Run Type (RUNTYPE):</td>
	    <td>[% case.run_type.value %]</td>
	  </tr>
	</table>
      </div>

      <h3>Case Notes</h3>
      <div id="expDetail_table">
	<table class="bordered">
	  <tr>
	    <td valign="top"> <button onclick="return popitup('/expdb2.0/cgi-bin/caseNotes.cgi?case_id=[% case.case_id.value %]&expType_id=[% case.expType_id.value %]','height=200,width=800,scrollbars=yes')"><span class="ui-icon ui-icon-plus"></span></button> Case Notes:</td>
	    <td>
	      <table>
		<thead>
		  <th></th>		
		  <th>Note</th>		
		  <th>Last Update</th>		
		</thead>
		[% FOREACH n IN notes %]
		<tr>
		  <td><button onclick="return popitup('/expdb2.0/cgi-bin/caseNotes.cgi?case_id=[% case.case_id.value %]&note_id=[% n.note_id %]&action=update&expType_id=[% case.expType_id.value %]','height=200,width=800,scrollbars=yes')"><span class="ui-icon ui-icon-pencil"></span></button></td>
		  <td>[% n.note %]</td>
		  <td>[% n.last_update %]</td>
		</tr>
		[% END %]
	      </table>
	    </td>
	  </tr>
	</table>
      </div>

      <h3>Case Diagnostics and CDG Links</h3>
      <div id="expDetail_table">
	<table class="bordered">
	  <tr>
	    <td valign="top"><button onclick="return popitup('/expdb2.0/cgi-bin/caseLinks.cgi?case_id=[% case.case_id.value %]&expType_id=[% case.expType_id.value %]','height=300,width=800,scrollbars=yes')"><span class="ui-icon ui-icon-plus"></span></button> Case Links:</td>
	    <td>
	      <table>
	      [% FOREACH lk IN links %]
		<thead>
		  <th></th>
		  <th>Process</th>		
		  <th>Link Type</th>		
		  <th>Link</th>		
		  <th>Last Update</th>		
		</thead>
		<tr>
		  <td><button onclick="return popitup('/expdb2.0/cgi-bin/caseLinks.cgi?case_id=[% case.case_id.value %]&link_id=[% lk.link_id %]&action=update&expType_id=[% case.expType_id.value %]','height=300,width=800,scrollbars=yes')"><span class="ui-icon ui-icon-pencil"></span></button></td>
		  <td>[% lk.process_name %]</td>
		  <td>[% lk.linkType_name %]</td>
		  [% http = lk.link %]
		  [% IF lk.linkType_id == 1 %]
		  <td><a href="[% lk.link %]" target="_blank">[% lk.link %]</a></td>
		  [% ELSE %]
		  <td>[% lk.link %]</td>
		  [% END %]
		  <td>[% lk.last_update %]</td>
		</tr>
		<tr>
		  <td colspan="5"><b>Description</b></td>
		</tr>
		<tr>
		  <td colspan="5">[% lk.description %]</td>
		</tr>
	      [% END %]
	      </table>
	    </td>
	  </tr>
	</table>
      </div>

    </div>
  </div>

</div>
</body>
</html>
